---
import Button from "../components/ui/Button.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Contato">
  <section
    class="border-2 border-neutral-300 p-8 md:px-20 md:py-20 my-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center"
  >
    <h2 class="text-neutral-200 text-4xl md:text-6xl tracking-tight">
      Tem alguma ideia ou projeto em mente?
    </h2>
    <p class="text-neutral-300 my-4 text-lg md:text-xl">
      Entre em contato que ficarei feliz em te ajudar a desenvolver seu projeto!
    </p>
    <Button title="Entrar em contato" href="https://wa.me/5567999034695" />
  </section>
</Layout>
