---
import { Icon } from "astro-icon/components"
---

<footer class="my-20">
  <div class="flex flex-wrap gap-4 justify-center mb-8">
    <a href="https://wa.me/5567999034695"
      ><Icon class="text-neutral-300" name="whatsapp" size={30} /></a
    >
    <a href="mailto:shinzato.douglas@gmail.com">
      <Icon class="text-neutral-300" name="email" size={30} /></a
    >
    <a href="https://www.instagram.com/douglasshinzato/"
      ><Icon class="text-neutral-300" name="instagram" size={30} /></a
    >
    <a href="https://github.com/douglasshinzato">
      <Icon class="text-neutral-300" name="github-footer" size={30} />
    </a>
  </div>
  <p class="text-center text-sm text-neutral-300">
    Copyright © {new Date().getFullYear()} Douglas Shinzato. All rights reserved.
  </p>
</footer>
