<section id="hero" class="my-20">
  <h1
    class="text-neutral-200 text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter max-w-screen-lg pb-2"
  >
    Hello! I'm Douglas - FullStack Software Engineer
  </h1>
  <p class="text-lg mt-4 text-neutral-300 max-w-xl pb-8">
    Empowering Innovation, One Line of Code at a Time: Building Apps,
    Transforming Lives.
  </p>
  <div class="mt-4 flex flex-col sm:flex-row gap-3">
    <button
      class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-dark-100 border-2 border-neutral-200 hover:bg-neutral-200 hover:text-dark-100 flex gap-1 items-center justify-center text-neutral-300 font-semibold"
    >
      <a href="#">Contact</a>
    </button>
    <button
      class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-dark-100 border-2 border-neutral-200 hover:bg-neutral-200 hover:text-dark-100 flex gap-1 items-center justify-center text-neutral-300 font-semibold"
    >
      <a href="#">GitHub</a>
    </button>
  </div>
</section>
