---
// import { Icon } from "astro-icon/components"
import {
  Astronav,
  MenuItems,
  MenuIcon,
  OpenIcon,
  CloseIcon,
} from "astro-navbar"

const menuItens = [
  {
    title: "Inicio",
    href: "/",
  },
  {
    title: "Sobre",
    href: "/about",
  },
  {
    title: "Projetos",
    href: "/",
  },
  {
    title: "Contato",
    href: "/contact",
  },
]
---

<header class="lg:flex p-5 gap-5">
  <Astronav>
    <div class="flex w-full justify-between">
      <a href="/">
        <span class="font-semibold text-2xl"
          >shinzato<span class="text-zinc-500">.dev</span>
        </span>
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="w-8 h-8 text-neutral-300" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5 mt-5 p-2 lg:pt-0">
        {
          menuItens.map((item) => (
            <li class="hover:text-zinc-500 text-lg ">
              <a href={item.href}>{item.title}</a>
            </li>
          ))
        }
      </ul>
    </MenuItems>
  </Astronav>
</header>

<!-- <header class="my-5">
  <div class="flex justify-between">
    <a href="/">
      <span class="font-semibold text-2xl"
        >shinzato<span class="text-zinc-500">.dev</span>
      </span>
    </a>
    <nav
      transition:persist
      class="navMenu bg-zinc-950 fixed md:relative top-0 left-0 bg-opacity-95 text-center overflow-hidden transition-all duration-500 flex gap-8 items-center justify-center md:justify-end w-full h-0 opacity-0 z-10 md:h-full md:opacity-100"
    >
      <ul class="flex flex-col md:flex-row md:gap-3 gap-10">
        {
          menuItens.map((item) => (
            <li class="hover:text-zinc-500 text-lg font-semibold">
              <a href={item.href}>{item.title}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
  <button
    type="button"
    title="button"
    class="menuButton fixed top-0 right-0 p-4 z-20 md:hidden"
  >
    <Icon name="material-symbols:menu" size={38} />
  </button>
</header> -->
